* {
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    clear: both;
    display: block;
}

.main {
    background-color: whitesmoke;
    width: 1200px;
    margin: 0 auto;
    padding: 50px;
    overflow: auto;
}

h1 {
    color: red;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    line-height: 1.5;
}

h2 {
    color: #999999;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    line-height: 1.5;
}

h3 {
    color: black;
    font-weight: bold
}

.wrapper {
    background-color: white;
    /* width: 100%;*/
    padding: 20px;
}

.container {
    margin-left: 20px;
}

.description {
    color: dimgray
}

a {
    color: red;
    font-size: 20px;
    display: block;
}

/*table-cell styles*/
.header {
    color: black;
    font-size: 28px;
    margin: 0px;
    padding-top: 10px;

}

.section_one {
    width: 100%;
    background-color: crimson;
}

.section_second {
    width: 100%;
    background-color: greenyellow;
}

.section_thrid {
    width: 100%;
    background-color: aqua;
}

.section_fourth {
    width: 100%;
    background-color: rebeccapurple;
}

.section_one_cell {
    width: 33%;
    display: table-cell;
    padding: 20px;
    border: 1px solid black;
}

.section_second_cell_first {
    width: 33%;
    display: table-cell;
    border: 1px solid black;
}

.section_second_cell_two {
    width: 67%;
    display: table-cell;
    border: 1px solid black;

}

.section_second_cell_first_col {
    border-bottom: 1px solid black;
    padding: 20px;
}

.section_second_cell_two_col {
    border-top: 1px solid black;
    padding: 20px;
}

.section_thrid_cell_first {
    width: 67%;
    display: table-cell;
    border: 1px solid black;
}

.section_thrid_cell_two {
    width: 33%;
    display: table-cell;
    border: 1px solid black;
    padding: 20px;
}

.section_thrid_cell_first_col {
    border-bottom: 1px solid black;
    padding: 20px;
}

.col {
    width: 50%;
    display: table-cell;
    outline: 1px solid black;
}

.section_fourth_cell {
    width: 50%;
    display: table-cell;
    border: 1px solid black;

}

.section_fourth_cell_one_coll {
    width: 50%;
    display: table-cell;
    border: 1px solid black;

}

.section_fourth_cell_one_coll_last {
    border-bottom: 1px solid black;
    padding: 20px;

}

.section_fourth_cell_one:first-child {
    padding: 20px;
}

.section_fourth_cell:last-child {
    padding: 20px;
}

.section_fourth_cell_one_coll:last-child {
    padding: 20px;
}

/* inline-block styles*/
.sec_one {
    width: 100%;
    background-color: yellow;
    font-size: 0;
    text-align: center;
}

.sec_one_in_b {
    width: 33%;
    display: inline-block;
    font-size: 24px;
    outline: 1px solid black;
    vertical-align: top;

}

.sec_second {
    width: 100%;
    background-color: greenyellow;
    font-size: 0;
    text-align: center;
}

.sec_section_in_b {
    width: 33%;
    display: inline-block;
    font-size: 24px;
    vertical-align: top;

}

.sec_section_in_b_two {
    width: 67%;
    display: inline-block;
    font-size: 24px;
    vertical-align: top;

}

.sec_second_in_in_b {
    outline: 1px solid black;
    padding: 20px;
}

.sec_thrid {
    width: 100%;
    background-color: aqua;
    font-size: 0;
    text-align: center;
}

.sec_thrid_in_b_one {
    width: 67%;
    display: inline-block;
    font-size: 24px;
    vertical-align: top;
    outline: 1px solid black;
}

.sec_thrid_in_b_two {
    width: 33%;
    display: inline-block;
    font-size: 24px;
    vertical-align: top;
    outline: 1px solid black;
}

.sec_thrid_in_in_b {
    outline: 1px solid black;

}

.sec_fourth {
    width: 100%;
    background-color: violet;
    font-size: 0;
    text-align: center;
}

.sec_fourth_in_b {
    width: 50%;
    display: inline-block;
    font-size: 24px;
    vertical-align: top;
    outline: 1px solid black;
}

/* Flout*/
.sec_one_fl {
    width: 33.33%;
    background: orange;
    float: left;
    outline: 1px solid black;
}

.sec_second_fl_fr_col {
    outline: 1px solid black;
    background: red;
}

.sec_second_fl_fr {
    float: left;
    width: 33%;
}

.sec_second_fl_sec {
    width: 67%;
    float: right;
}

.sec_thr_fl_fr {
    float: left;
    width: 67%;
    background: yellowgreen;
    outline: 1px solid black;
}

.sec_thr_fl_sec {
    width: 33%;
    float: right;
    background: yellowgreen;
    outline: 1px solid black;
}

.fl_col {
    width: 50%;
    float: left;
    outline: 1px solid black;
}

.sec_fth_fl {
    width: 50%;
    float: left;
    outline: 1px solid black;
}

.sec_fth_fl_one_coll {
    width: 50%;
    float: left;
    outline: 1px solid black;
}

.sec_fth {
    background: yellow;
}

/*Flex-box*/
.sec_fx {
    display: flex;
    background: yellow;
    outline: 1px solid black;
}

.sec_one_fx {
    flex: 2 1 auto;
}

.sec_sec_fx {
    display: flex;
    background: orange;
    outline: 1px solid black;
}

.sec_second_fx_fr {
    flex: 2 1 auto;
}

.sec_second_fx_sec {
    flex: 2 1 auto;
}

.sec_second_fx_fr_col {
    outline: 1px solid black;
}

.sec_thr_fx {
    display: flex;
    background: red;
    outline: 1px solid black;
}

.sec_thr_fx_fr {
    flex: 2 1 auto;
}

.sec_thr_fx_fr_col {
    display: flex;
    outline: 1px solid black;
}

.fx_col {
    outline: 1px solid black;
    flex: 2 1 auto;
}

.sec_fth_fx {
    display: flex;
    outline: 1px solid black;
    background: burlywood;
}

.sec_fth_fx_fx {
    flex: 2 1 auto;
}

.sec_fth_fx_one {
    display: flex;
    outline: 1px solid black;
}

/* Grid_template_columns*/
.sec_gr {
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: darkorange;
    outline: 1px solid black;
}

.sec_sec_gr {
    display: grid;
    grid-template-columns: 400px 1fr;
    grid-template-rows: auto;
    background-color: rosybrown;
}
.sec_second_gr_fr{
    outline: 1px solid black;
}

.sec_thr_gr {
    display: grid;
    background-color: yellowgreen;
    grid-template-columns: 800px 1fr;
}

.sec_second_gr_fr_col {
    padding: 10px;
}

.sec_thr_gr_fr_col {
    padding: 10px;
}

.sec_thr_gr_fr {
    display: grid;
    background: red;
    outline: 1px solid black;
}

.sec_thr_gr_fr_col_in {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    outline: 1px solid black;
}

.gr_col {
    padding: 10px;
    outline: 1px solid black;
}

.sec_thr_gr_sec {
    padding: 10px;
}

.sec_fth_gr_main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    outline: 1px solid black;
    background: aqua;
}

.sec_fth_gr {
    padding: 10px;
    outline: 1px solid black;
}

.sec_fth_gr_one_in {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 10px;
}

/* Grid Areas*/
.main {
    display: grid;
    grid-template-columns: 400px 400px 400px;
    grid-template-areas:
      "a b c"
      "d e e"
      "f e e"
      "h g g"
      "i i j"
      "k l j"
      'm m n'
      'o p n'
      'q p n'
      


  }
  .sec_1 {
    background-color: #8ca0ff;
    grid-area: a;
  }
.sec_2{
    background-color: aqua;
    grid-area: b;
}
.sec_3{
    background-color: red;
    grid-area: c;
}
.sec_4{
background: yellow;
grid-area: d;
}
.sec_5{
background: #999999;
grid-area: e;
}
.sec_6{
    background: lightcoral;
    grid-area: f;
}
.sec_7{
    background: lightgreen;
    grid-area: g;
}
.sec_8{
    background: lightblue;
    grid-area: h;
}
.sec_9{
    background: yellow;
    grid-area: i;
}
.sec_10{
    background: plum;
    grid-area: j;
}
.sec_11{
    background: wheat;
    grid-area: k;
}
.sec_12{
    background: greenyellow;
    grid-area: l;
}
.sec_13{
    background: brown;
    grid-area: m;
}
.sec_14{
    background: beige;
    grid-area: n;
}
.sec_15{
    background: pink;
    grid-area: o;
}
.sec_16{
    background: blue;
    grid-area: p;
}
.sec_17{
    background: green;
    grid-area: q;
}
