.main {
    background-color: whitesmoke;
    width: 1200px;
    margin: 0 auto;
    padding: 50px;
    overflow: auto;
}

h1 {
    color: red;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    line-height: 1.5;
}

h2 {
    color: #999999;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    line-height: 1.5;
}

h3 {
    color: black;
    font-weight: bold
}

.wrapper {
    background-color: white;
   /* width: 100%;*/
    padding: 20px;
}

.container {
    margin-left: 20px;
}

.description {
    color: dimgray
}

a {
    color: red;
    font-size: 20px;
    display: block;
}

/*table-cell styles*/
.header {
    color: black;
    font-size: 28px;
    margin: 0px;
    padding-top: 10px;

}

.section_one {
    width: 100%;
    background-color: crimson;
}

.section_second {
    width: 100%;
    background-color: greenyellow;
}

.section_thrid {
    width: 100%;
    background-color: aqua;
}

.section_fourth {
    width: 100%;
    background-color: rebeccapurple;
}

.section_one_cell {
    width: 33%;
    display: table-cell;
    padding: 20px;
    border: 1px solid black;
}

.section_second_cell_first {
    width: 33%;
    display: table-cell;
    border: 1px solid black;
}

.section_second_cell_two {
    width: 67%;
    display: table-cell;
    border: 1px solid black;

}

.section_second_cell_first_col {
    border-bottom: 1px solid black;
    padding: 20px;
}

.section_second_cell_two_col {
    border-top: 1px solid black;
    padding: 20px;
}

.section_thrid_cell_first {
    width: 67%;
    display: table-cell;
    border: 1px solid black;
}

.section_thrid_cell_two {
    width: 33%;
    display: table-cell;
    border: 1px solid black;
    padding: 20px;
}

.section_thrid_cell_first_col {
    border-bottom: 1px solid black;
    padding: 20px;
}

.col {
    width: 50%;
    display: table-cell;
    outline: 1px solid black;
}

.section_fourth_cell {
    width: 50%;
    display: table-cell;
    border: 1px solid black;

}

.section_fourth_cell_one_coll {
    width: 50%;
    display: table-cell;
    border: 1px solid black;

}

.section_fourth_cell_one_coll_last {
    border-bottom: 1px solid black;
    padding: 20px;

}

.section_fourth_cell_one:first-child {
    padding: 20px;
}

.section_fourth_cell:last-child {
    padding: 20px;
}

.section_fourth_cell_one_coll:last-child {
    padding: 20px;
}
/* inline-block styles*/
.sec_one {
    width: 100%;
    background-color: yellow;
    font-size: 0;
    text-align: center;
}
.sec_one_in_b {
    width: 33%;
    display: inline-block;
    font-size: 24px;
    outline: 1px solid black;
    vertical-align: top;

}

.sec_second {
    width: 100%;
    background-color: greenyellow;
    font-size: 0;
    text-align: center;
}
.sec_section_in_b {
    width: 33%;
    display: inline-block;
    font-size: 24px;
    vertical-align: top;

}
.sec_section_in_b_two {
    width: 67%;
    display: inline-block;
    font-size: 24px;
    vertical-align: top;

}
.sec_second_in_in_b {
    outline: 1px solid black;
    padding: 20px;
}

.sec_thrid {
    width: 100%;
    background-color: aqua;
    font-size: 0;
    text-align: center;
}
.sec_thrid_in_b_one {
    width: 67%;
    display: inline-block;
    font-size: 24px;
    vertical-align: top;
    outline: 1px solid black;
}
.sec_thrid_in_b_two {
    width: 33%;
    display: inline-block;
    font-size: 24px;
    vertical-align: top;
    outline: 1px solid black;
}
.sec_thrid_in_in_b{
    outline: 1px solid black;

}
.sec_fourth{
    width: 100%;
    background-color: violet;
    font-size: 0;
    text-align: center;
}
.sec_fourth_in_b{
    width: 50%;
    display: inline-block;
    font-size: 24px;
    vertical-align: top;
    outline: 1px solid black;
}